/* Estilos para mejorar la calidad de las miniaturas en la galería */
.gallery-item-thumbnail {
    image-rendering: -webkit-optimize-contrast;
    image-rendering: crisp-edges;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    image-rendering: -o-crisp-edges;
    -ms-interpolation-mode: nearest-neighbor;
}

/* Mejorar la calidad de las imágenes en diferentes navegadores */
.gallery-item-thumbnail img {
    image-rendering: -webkit-optimize-contrast;
    image-rendering: crisp-edges;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    image-rendering: -o-crisp-edges;
    -ms-interpolation-mode: nearest-neighbor;
}

/* Optimizar el renderizado de imágenes en canvas */
canvas {
    image-rendering: -webkit-optimize-contrast;
    image-rendering: crisp-edges;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    image-rendering: -o-crisp-edges;
    -ms-interpolation-mode: nearest-neighbor;
}
